@import "variables";

.eachProduct {
	box-sizing: border-box;
	border-radius: 15px 15px 0 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	-webkit-box-shadow: 0px 8px 56px 0px $box-shadow-product;
	-moz-box-shadow: 0px 8px 56px 0px $box-shadow-product;
	box-shadow: 0px 8px 56px 0px $box-shadow-product;

	img {
		width: 100%;
		height: 250px;
	}

	.name {
		color: $whitesmoke-text;
		padding: 0 15px;
	}

	.product-select-price {
		display: flex;
		align-items: center;
		padding: 0 15px;

		.select-quantity-label {
			color: $whitesmoke-text;
			margin-bottom: 5px;
			font-size: 12px;
		}

		.select-capacity-label {
			color: $whitesmoke-text;
			margin-bottom: 5px;
			font-size: 12px;
		}

		.select-capacity {
			color: $whitesmoke-text;
			width: 100px;
		}

		.select-quantity {
			color: $whitesmoke-text;
			width: 90px;
		}

		span {
			font-weight: bold;
			letter-spacing: 1px;
		}
	}

	button {
		font-size: 16px;
		margin: 5px;
		margin-left: auto;
	}
}
